venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.git/
.idea/
.vscode/

settings.json
*.log
sndcpy_log.txt

build/
dist/
release/
*.spec.bak
main.exe

AudioRouter/build/
AudioRouter/backup/
AudioRouter/.vscode/

.pytest_cache/
.mypy_cache/
.dbg/
